
.thumbnail img{
    width:100%;
}
.thumbnail{
    padding:0;
}
.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    
    display:inline;
}
.jumbotron{
    
	background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fafaf5, #edf3f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fafaf5, #edf3f5); 
    
}
